Creating list and it's Properties

In [ ]:
### Learing Data type in the python::
### Different Data type in the python::
#### Data type is the type of the data which say what is the type of the variable::
### Different 3 type of the data type in the python: in numeric;
### such as the interger,float, and complex::
### pointing values:: float , integer number::
### Numeric data type
a = 30
print(type(a))
b = 39.2
print(type(b))
number = 8 + 9j
print(number.real)
print(number.imag)
print(type(number))

<class 'int'>
<class 'float'>
8.0
9.0
<class 'complex'>

In [ ]:
#### Displaying the String Data type::
name = "Subin Thapa"
result = name + " is a good boy"
print(name)
print(type(name))
print(result)

Subin Thapa
<class 'str'>
Subin Thapa is a good boy

In [ ]:
#### There are mainly 6 types of the data structure in the python::
### 1st list,2nd: tuple, 3rd: set 4th : dictionary
### list is denoted by the [], tuple is denoted by the () and the last one is denoted by the {} set and the dictionary is in the form of the key: values pair::

list = ["Subin Thapa",123,90,True]
print(type(list))
print(list)
print(type(list[-1]))
print(type(list[0]))

<class 'list'>
['Subin Thapa', 123, 90, True]
<class 'bool'>
<class 'str'>

In [ ]:
#### Four main function of the list are
### 1) mutuable(changeable)
### 2 ordered
### 3) Duplicate item
### 4) mixed items:
list1 = ["Subin Thapa","Subin Thapa",35,2,89,"Rahul Adhikari"] ### duplicate items such as the subin thapa
print(list1)
print(list1[0]) ### it is for the first name
print(list1[-1]) #### it is for the displaying the last name::
print(list1[2])
print(list1[-4])

['Subin Thapa', 'Subin Thapa', 35, 2, 89, 'Rahul Adhikari']
Subin Thapa
Rahul Adhikari
35
35

In [ ]:
### Checking the membership in the list
### there are two way to check the membership such as the operator such as the not , not in operator::
print("Subin Thapa" in list1)
print("Dubin" not in list1)

True
True

In [ ]:
#### Searching element list  in the python::
list2 = [12,13,14,15,17,18,19,20]
result = list2[0] in list2
print(result)
# result1 = list2[19] in list2
"""" This give us the out of the range result """
## print(result1)
print(type(result))

True
<class 'bool'>

In [ ]:
#### using the Different method of the list such as
### 1st append is storing last values in the list ::
stocklist = ["ADBL","HIDCL","API","NRN"]
stocklist.append("TTL")
stocklist.append(["MEN","SAHAS",'UNHPL',"SHEL"]) ### It can store the all the data in the last one and also can store different data structure
print(stocklist)
print(type(stocklist))
### 2nd insert is used for storing the values in the which order we want to index or stored in the numeric form::
stocklist.insert(1,"NRN")
print(stocklist)
### insert is start from the 0 to the beginnering Order::

['ADBL', 'HIDCL', 'API', 'NRN', 'TTL', ['MEN', 'SAHAS', 'UNHPL', 'SHEL']]
<class 'list'>
['ADBL', 'NRN', 'HIDCL', 'API', 'NRN', 'TTL', ['MEN', 'SAHAS', 'UNHPL', 'SHEL']]

In [ ]:
#### using the extend properties in the list
closewatch  = ["ADBL","SANIMA",'HRL',"NLIC",'UMHPL']
near_support  = ["MEN",'OMPHL','NMIC']
### if i want closewatch first then near_support
# closewatch.extend(near_support)
### if i wnat the near_support first then close _support
near_support.extend(closewatch)
print(near_support)
print(closewatch)

['MEN', 'OMPHL', 'NMIC', 'ADBL', 'SANIMA', 'HRL', 'NLIC', 'UMHPL']
['ADBL', 'SANIMA', 'HRL', 'NLIC', 'UMHPL']

Working with the slicing

In [ ]:
number = [1,2,3,4,5,7,9,100,200]
result = number[:4] ### start and the stop where stop is default::
print(result)
result1 = number[::2] ### start : stop: step where start and the stop is default
print(result1)
#### Dispalying the index 2 to 3 number
print(number[2:4])

[1, 2, 3, 4]
[1, 3, 5, 9, 200]
[3, 4]

In [ ]:
#### Clearing the whole list  in the python
### using the clear()
namelist = ["Babina",'Saloni',"Garima","Nikita"]
namelist.clear()
print(namelist)

[]

In [ ]:
#### using the pop with index and without pop to delete the list items::

namelist1 = ["Rahul","Mahesh","kiran",[23,24,256],{56,89,90}]
namelist1.pop() ### this remove last items::
namelist1.pop(0) ### this remove with the indexing number::
print(namelist1)

['Mahesh', 'kiran', [23, 24, 256]]

In [ ]:
#### using the remove method to delete the items using the list items::
namelist = ["Subin Thapa","Angat Sitoula",18,19,"Rahul Adhikari","Subin Thapa"]
namelist.remove("Subin Thapa") #### it removes only the first occurence of the item if there are the multiple occurence or duplicate
print(namelist)

['Angat Sitoula', 18, 19, 'Rahul Adhikari', 'Subin Thapa']

In [ ]:
### Ascending Order displaying using sort
student_list = ["Subin Thapa","Pratik Sharma","Madhav Khatri","Sagar regime","Aman"]
student_list.sort()
print(student_list)
### Displaying the acending number
number = [12,13,4,3,2,90,100,1,79]
result = sorted(number)
print(result)

['Aman', 'Madhav Khatri', 'Pratik Sharma', 'Sagar regime', 'Subin Thapa']
[1, 2, 3, 4, 12, 13, 79, 90, 100]

In [ ]:
### Displaing the reverse number using the python::
result = sorted(number,reverse = True)
print(result)

[100, 90, 79, 13, 12, 4, 3, 2, 1]

In [ ]:
### using the sort method::
number = [12,13,4,9,0,12]
#### Ascending number using the sort method
number.sort(reverse = False)
print(number)

[0, 4, 9, 12, 12, 13]

In [ ]:
### Returing the index of the list items:
number2 = ["ADbl","Sahas","umhl","mbl","lbbl","albshl","Sahas"]
### It priotizies inorder of the first occurance::
result = number2.index("Sahas")
print(result)

1

In [ ]:
#### couting the number of the alphabhet character in the list items:
name = ["Garima","Sandip","Pratik","Pratik"]
result = name[0].count("a")
print(result)
#### using the len function in the python::
result = len(name[0])
print(result)

2
6

In [ ]:
### counting the item in the list
number2  = [1,2,5,5,5,80,90,67,98,67,888]
counting = number2.count(0)
print(counting)

0