Dictionary In Python::

A dictionary stores day in keys:: Value form
### Key must be unique,Values can be repeat, and Key must be hashable mean mutable::

In [ ]:
### 1st Example::
student = {
    "name" : "Subin Thapa",
    "roll_no": 34,
    "Class" : "Bachelor in Data Science",
    "Semester" : "1st Semester"
}
print(student)
print(student.keys())
print(student.values())
print(student.items())
print(type(student))

{'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester'}
dict_keys(['name', 'roll_no', 'Class', 'Semester'])
dict_values(['Subin Thapa', 34, 'Bachelor in Data Science', '1st Semester'])
dict_items([('name', 'Subin Thapa'), ('roll_no', 34), ('Class', 'Bachelor in Data Science'), ('Semester', '1st Semester')])
<class 'dict'>

2) Accessing Values:::

You can access Values using the  key:
student["name"]

if the key does not exist, it cause the error

In [ ]:
print(student["name"])
# ### It cause error::
# print(student["age"])

Subin Thapa

3) Safe Access with get()

get() is safe::

if key exists, the return Value else key is missing it return None (no crash) or return default Values::

In [ ]:
### Example 1st::
student = {
    "name" : "Subin Thapa",
    "roll_no": 34,
    "Class" : "Bachelor in Data Science",
    "Semester" : "1st Semester"
}
print(student.get("age")) ### It return None::
print(student.get("age",18)) ### It return 18 on the age but doesn't update the whole age ::
print(student)

None
18
{'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester'}

4) Checking if a key Exists::

Use in to Check Keys::

In [ ]:
print("name" in student) ### It Gives the True return
print("age" in student) ### It Gives the false return

True
False

5) Adding a New Key- Value Pair
### if Keys doesn't exist , assigment adds it.

In [ ]:
### Example 1st::
student1 = {
    "name": "Subin Thapa",
    "roll_no": 34,
    "Class": "Bachelor in Data Science",
    "Semester": "1st Semester"
}
print(student1)
### Adding age in it's
student1["age"] = 18
print(student1)

{'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester'}
{'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester', 'age': 18}

In [ ]:
#### square number of the dictionary::
square  = {
    1:1,
    2:4,
    3:9,
    4:16,
    5:25
}
print(square)
square[6] = 36
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

6) Updating an Existing Key

### if the key exists, Assigment updates it::

In [ ]:
### Example 1::
square[3] = 27 ## Just ammued
print(square)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 25, 6: 36}

7)  Keys(), Values(), items() are the Dictionary View in Python::

In [ ]:
### Some Example used of it's
print(square.keys())
print(square.values())
print(square.items()) ### it gives in the form of the tuple,list form  mean stored:: [()]
### Converting the dictionary in the list form
print(list(square.items()))

dict_keys([1, 2, 3, 4, 5, 6])
dict_values([1, 4, 27, 16, 25, 36])
dict_items([(1, 1), (2, 4), (3, 27), (4, 16), (5, 25), (6, 36)])
[(1, 1), (2, 4), (3, 27), (4, 16), (5, 25), (6, 36)]

8) Update(),--- Add/Update Many keys at Once
update()::

i) Add new keys::

ii) Update Existing Keys:

In [ ]:
student = {
    "name" : "Subin Thapa",
    "roll_no": 34,
    "Class" : "Bachelor in Data Science",
    "Semester" : "1st Semester"
}
student.update({"Background" :"Trading","Hobbies":"Reading"}) ### it requird the Curly Bracket and other what needed to update
print(student)
student.update({"name":"Jubin Thapa"}) ### It update the name of the person:: who are you
print(student)

{'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester', 'Background': 'Trading', 'Hobbies': 'Reading'}
{'name': 'Jubin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester', 'Background': 'Trading', 'Hobbies': 'Reading'}

9) Dictionary Concatenation / Merge in Python::
There are 2 Common Ways::

I) | (vertical bar) operator ::

II) ** Unpacking::

In [ ]:
### Working with the some Examples::
square = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
cube = {1:1,2:8,3:27,4:64,5:125}
fourth = {1:1,2:16,3:81,4:256,5:625}
print(square | cube |fourth) ### last one Varialble win if the same keys is available::
print(square | cube) ## cube win as both have the same key
print(student |square) ### it merged the result outcome::
### another way also work such as
print(square,cube) ### It also merge the code:

{1: 1, 2: 16, 3: 81, 4: 256, 5: 625}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{'name': 'Jubin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester', 'Background': 'Trading', 'Hobbies': 'Reading', 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25} {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
#### unpacking Some Example::
square = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
cube = {1:1,2:8,3:27,4:64,5:125}
merged = {**square,**cube} ### Last one get priority if there are the same keys::
merged1 = {**student,**cube} ### Unpacking it also
print(merged)
print(merged1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{'name': 'Jubin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester', 'Background': 'Trading', 'Hobbies': 'Reading', 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

10) Setdefault()  -- Create Key if missing

setdefault(key,default)::

### if key exists -- return current key
#### if missing - create key with default and returns default::

In [ ]:
### Example 1st::
d =  {}
d.setdefault("name","Subin Thapa")
print(d)
d.setdefault("items",[]).append("Apple")
d.setdefault("items",[]).append("Banana")
print(d)

{'name': 'Subin Thapa'}
{'name': 'Subin Thapa', 'items': ['Apple', 'Banana']}

In [ ]:
### Example 2nd::
d = dict.fromkeys(["a","b","c","d"],[])
d["a"].append(9)
print(d) ### all keys share the same list::

{'a': [9], 'b': [9], 'c': [9], 'd': [9]}

11) Removing Keys::
### i) pop(key) -:: removes the key  and return the removed Value
### ii) del dict[key] -:: Deletes a key, if key is  missing gives keyerror
### iii) pop(key,default) -:: if key is missing,it return default (no crash)
### iv) popitem() -:: removes and returns the last inserted (key,value) (In modern python where dict preserves insertion order).

In [ ]:
#### Some Example ::-
student = {"name":"Subin Thapa","age":18,"semester":"1st Semester","class":"Bachelor in Data Science"}
### pop(key)
result = student.pop("name")
print(result)
print(student)
### del dict["key"] dictionary key
del student["semester"]
print(student)
### pop(key,default)
### unknown key trying :
result1 = student.pop("City","default")
print(result1)
print(student)
#### popitem()
print(student.popitem())
print(student)

Subin Thapa
{'age': 18, 'semester': '1st Semester', 'class': 'Bachelor in Data Science'}
{'age': 18, 'class': 'Bachelor in Data Science'}
default
{'age': 18, 'class': 'Bachelor in Data Science'}
('class', 'Bachelor in Data Science')
{'age': 18}

12) Sorting a Dictionary
### Dictionary keep insertion order, but sorting is done using only sorted() on items

In [ ]:
#### Example 1::
scores = {"Ram":70,"Sita" : 90,"Rakesh":78,"Gita":67}
### Sorting a dictionary with different methods::
### sort the key by (alphabetical)
sorted_by_keys = dict(sorted(scores.items()))
print(sorted_by_keys)

{'Gita': 67, 'Rakesh': 78, 'Ram': 70, 'Sita': 90}

In [ ]:
### Example 2:::
scores = {"Ram":70,"Sita" : 90,"Rakesh":78,"Anita":67}
### Sort by the Values using the lambda function with expression, argument
### Displaying the hightest to lowest Marks
sorted_by_values = dict(sorted(scores.items(),key = lambda x:x[1],reverse = True))
print(sorted_by_values)

{'Sita': 90, 'Rakesh': 78, 'Ram': 70, 'Anita': 67}

In [ ]:
### Example 3:::
scores = {"Ram":70,"Sita" : 10,"Rakesh":78,"Gita":67}
### Just normal sorting with revese mean decending order::
result = dict(sorted(scores.items(),reverse = True))
print(result)

{'Sita': 10, 'Ram': 70, 'Rakesh': 78, 'Gita': 67}

In [ ]:
### Example 4:: Using the Last one Lamda function

scores = {"Ram":70,"Sita" : 90,"Rakesh":78,"Gita":67}

sorted_by_result = dict(sorted(scores.items(),key = lambda x:x[1]))
print(sorted_by_result)

{'Gita': 67, 'Ram': 70, 'Rakesh': 78, 'Sita': 90}

13) Nested Dictionary ::
### Common structure unique id -----::---- info dict

In [ ]:
### Example 1::
student = {
    ### In this example duplicate name is okay but key must be unique such as 1,2,3
    1:{
        "name":"Subin Thapa",
        "roll_no":34,
        "Class":"Bachelor in Data Science",
        "Semester":"1st Semester"
    },
    2:{
        "name":"Subin Thapa",
        "roll_no":35,
        "Class":"Bachelor in Computer Application",
        "Semester":"1st Semester"
    },
    3:{
        "name":"Suman Thapa",
        "roll_no":36,
        "Class":"csit",
        "Semester":"1st Semester"
    }
}
print(student[1]["name"])
print(student)
print(id(student[1]))
print(id(student[2]["name"]))
print(id(student[3]["name"]))
print(id(student))

Subin Thapa
{1: {'name': 'Subin Thapa', 'roll_no': 34, 'Class': 'Bachelor in Data Science', 'Semester': '1st Semester'}, 2: {'name': 'Subin Thapa', 'roll_no': 35, 'Class': 'Bachelor in Computer Application', 'Semester': '1st Semester'}, 3: {'name': 'Suman Thapa', 'roll_no': 36, 'Class': 'csit', 'Semester': '1st Semester'}}
136465813393664
136465813277680
136465813392496
136465813393984

14) Shallow Copy Vs Deep Copy
####
A shallow copy creates a new object, but does not create copies of the nested objects inside it. Instead, it references the original nested objects.

Changes to nested objects affect both original and copy.

Can be created using copy.copy() in Python.
#### """

Deep Copy:
A deep copy creates a completely independent copy of the object, including all nested objects.

Changes to the copy do not affect the original object.

Can be created using copy.deepcopy() in Python.
### """"

In [ ]:
import copy
even_number = {2:4,4:16,6:36,8:64}

### Shallow Copy
shallow_copy = copy.copy(even_number)
### updating ::
shallow_copy[10] = 100
print(even_number)
print(shallow_copy)
### Deep Copy
deep_copy = copy.deepcopy(even_number)
print(deep_copy)
print(even_number)

{2: 4, 4: 16, 6: 36, 8: 64}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64}
{2: 4, 4: 16, 6: 36, 8: 64}