Checking Vowels and Consonant

In [ ]:
name = "a"
if name in "aeiou":
    print("Vowel")
else:
    print("Consonant")

Vowel

Python For Loop

What is a For loop?
### A For loop is used to repeat an action for each item in a collection.

In [ ]:
### For Loop Example 1::
numbers = [10,20,30]
for n in numbers:
    print(n)

10
20
30

For Tuple with Tuple

In [ ]:
values = (1,2,3,4,5)
for v in values:
    print(v)
### String are iterables::
name = "Python"
for n in name:
    print(n)

1
2
3
4
5
P
y
t
h
o
n

For Loop with set

In [ ]:
unique = {5,10,15,20,25}
for u in unique:
    print(u)

20
5
25
10
15

For Loop with Dictionary

In [ ]:
student = {"name":"Subin Thapa","age":18}
for k in student:
  print(k) ### For Key
for v in student.values():
  print(v) ### For Values
for k,v in student.items():
  print(k,v) ### For Key and Values
for k in student.keys():
  print(k) ### For Key

name
age
Subin Thapa
18
name Subin Thapa
age 18
name
age

In [ ]:
### Displaying 1 to 10 Digit ::
print("Displaying the 0 to 9 Digit")
for i in range(10):
  print(i) ### it display the 0 to 9 mean 10 iterables::
### Displaying 1 to 10 Digit ::
print("Displaying 1 to 10 Digit")
for i in range(1,11):
  print(i) ### it display the 1 to 10 mean 11 iterables::
## step method example ::
print("Even Step Example")
for i in range(1,11,2):
  print(i)

Displaying the 0 to 9 Digit
0
1
2
3
4
5
6
7
8
9
Displaying 1 to 10 Digit
1
2
3
4
5
6
7
8
9
10
Even Step Example
1
3
5
7
9

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in range(len(list1)-4):
  print(list1[i])

1
2
3
4
5

In [ ]:
#### Reversing the List
list1 = [1,2,3,4,5,6,7,8,9]
rev = []
for i in range(len(list1)-1,-1,-1):
  print(list1[i])
  rev.append(list1[i])
  print(rev)

9
[9]
8
[9, 8]
7
[9, 8, 7]
6
[9, 8, 7, 6]
5
[9, 8, 7, 6, 5]
4
[9, 8, 7, 6, 5, 4]
3
[9, 8, 7, 6, 5, 4, 3]
2
[9, 8, 7, 6, 5, 4, 3, 2]
1
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = [10,20,30]
rev = []
for i in numbers:
  rev.insert(0,i)
print(rev)

In [ ]:
### Example 2:::
### Reversing Example::
for i in range(10,0,-1):
  print(i,end = " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
#### Factorial Number's
n = int(input("Enter the number:: "))
fact = 1
for i in range(1,n+1):
  fact = fact*i
print(fact)

Enter the number:: 5
120

In [ ]:
#### Sum of the Natural Number's
n = int(input("Enter the number:: "))
sum = 0
for i in range(1,n+1):
  sum = sum+i
print(sum)

Enter the number:: 5
15

In [ ]:
### String List Example ::
list1 = ["Garima","Subin Thapa","Angat"]
for i in list1:
  print(i)
  print(len(i))

In [ ]:
n = int(input("Enter the String:: "))

for i in range(1,n+1):
  print("*"*i)

Enter the String:: 5
*
**
***
****
*****

In [ ]:
#### 2nd Example :::
nums = [1,2,-3,-4,0,7]
### positive,negative and 0 finding
pos = neg = zero = 0
for i in nums:
  print(i)
  if i >0:
    pos = pos +1
  elif i<0:
    neg = neg +1
  else:
    zero = zero +1
print(pos,neg,zero)

1
2
-3
-4
0
7
3 2 1

In [ ]:
#### 3nd Example of Calculating the positive , negative and zero no.
nums = [1,2,-3,-4,0,7]
pos = neg = zero = 0
for i in range(len(nums)):
  print(nums[i])
  if nums[i]>0:
    pos = pos +1
  elif nums[i]<0:
    neg = neg +1
  else:
    zero = zero +1
print(pos,neg,zero)

1
2
-3
-4
0
7
3 2 1

In [ ]:
#### For Maximum
list1 = [10,39,100,89,7]
max = list1[0]
for i in list1:
  if i > max:
    max = i
print(max)

100

In [ ]:
#### For minimum
list1 =[10,39,100,89,7]
max = list1[0]
min = list1[0]
print(max)
for i in list1:
  if i < min:
    min = i
print(min)

10
7

In [ ]:
### Example 4::
s = input("Enter the text").lower()
vowels = "aeiou"
count  = 0
for i in s:
  if i in vowels:
    count = count+1
print(count)