Function In Python
It is used for the code reusable , and the code redeablity of the function ::
### Two types of the Function  ::
1) Built in Function :: Example such as the len(),print(),

2) User Defined Function ::
### Syntax ::
def function_name(parameter):
### function body intended
### Function Calling

In [ ]:
#### Example of the Function::
num1 = [1,2,3,4,5,6]
num2 = [5,78,8]
def count(num):
    count = 0
    for i in num:
        count = count + 1
    return count
print(count(num1))
print(count(num2))

6
3

In [ ]:
### Example 1::
def greet_name(name):
  print("Hello !", name)
greet_name("Subin Thapa")
greet_name("Manisha Panta")

Hello ! Subin Thapa
Hello ! Manisha Panta

#### print() shows output on Screen
### return sends Value back to the function Calling

In [ ]:
#### Example 2::
def name(name):
    return name
print(name("Subin Thapa"))
print(name("Garima Sapkota"))

Subin Thapa
Manisha Panta

In [ ]:
#### Example 3:;
def check_evenodd(n):
  if n%2 == 0:
    print("Even")
  else:
    print("Odd")
check_evenodd(2)
check_evenodd(3)

Even
Odd

In [ ]:
### Finding the Cube of the Number ::
def square(n):
  return n*n
def cube(n):
  return square(n)*n
print(cube(3))

27

In [ ]:
##### Example 4::
name = "PYTHon"
lis = ["Angat","Subin"]
print(len(name))
print(len(lis)) ### Built in function
print(name.upper()) ### Method

6
2
PYTHON

In [ ]:
#### Example 5::
lis = [1,2,3,5]
print(len(lis))
lis.append(5) ### Method need object but function is independent with the object's
print(lis)

4
[1, 2, 3, 5, 5]