Nested For Loop::
### A nested loop means one loop is inside another loop

In [1]:
#### Example:::
for row in range(1,4):
  for col in range(1,5):
    print(f"row = {row}, and Col = {col}")
    #### Think of a grid . Outer loop = rows and inner loop = columns

row = 1, and Col = 1
row = 1, and Col = 2
row = 1, and Col = 3
row = 1, and Col = 4
row = 2, and Col = 1
row = 2, and Col = 2
row = 2, and Col = 3
row = 2, and Col = 4
row = 3, and Col = 1
row = 3, and Col = 2
row = 3, and Col = 3
row = 3, and Col = 4

4) Buling Output per row

In [2]:
for row in range(1,4):
  line = ""
  for col in range(1,5):
    line += f"{col} "
    print(line)
  print("row",row,":",line)

1
1 2
1 2 3
1 2 3 4
row 1 : 1 2 3 4
1
1 2
1 2 3
1 2 3 4
row 2 : 1 2 3 4
1
1 2
1 2 3
1 2 3 4
row 3 : 1 2 3 4

5) Classic Pattern Printing (stars)

In [3]:
#### Rectangke if stars = (3rows * 5 columns)
rows = 3
cols = 5
for r in range(1,rows):
  line = ""
  for c in range(cols):
    line += "*"
  print(line)

*****
*****

In [4]:
### Right angle ::
rows = 5
for r in range(1,rows):
  line = ""
  for c in range(r):
    line += "*"
  print(line)

*
**
***
****

In [5]:
### Inverted Triangle
rows = 5
for r in range(rows,0,-1):
  line = ""
  for c in range(r):
    line += "*"
  print(line)

*****
****
***
**
*

#### Displaying the  Matrix
####  A 2d list is a list of lists. [[1,2,3],[4,5,7],[7,8,9]]

In [6]:
##### Example :::
matrix = [[1,2,3],[4,5,6],[7,8,9],]
print(type(matrix))
print(matrix)
for row in matrix:
  for value in row:
    print(value)
    print(value,end = " ")
  print()

<class 'list'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
1 2
2 3
3
4
4 5
5 6
6
7
7 8
8 9
9

In [7]:
### Displaying the index in list1
list1 = [1,2,34]
for i in range(len(list1)):
  print(i,list1[i])

0 1
1 2
2 34

In [8]:
#### sum of the all values in a 2d list
matrix = [[1,2,3],[4,5,6],[7,8,9],]
total = 0
for row in matrix:
  for value in row:
    total += value
print(total)

45

In [9]:
#### Multiplication of the table ::
for i in range(11):
  for j in range(10):
    print(f"{i} * {j} = {i*j}")
  print()

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0

1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [10]:
#### Multiplication of the table ::
for i in range(1,11):
  for j in range(1,11):
    print(f"{i*j:4}",end = " ")
  print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [11]:
colors = ["Red","Blue","yellow"]
sizes = ["Small","Medium","Large"]
for color in colors:
  for size in sizes:
    print(f"{color} {size}")

Red Small
Red Medium
Red Large
Blue Small
Blue Medium
Blue Large
yellow Small
yellow Medium
yellow Large

In [12]:
list1 = [1,2,3,4,5,6,7,19]
list2 = [11,1,2,3,8,19]
list3 = []
for i in list1:
  for j in list2:
    if i == j:
      if i not in list3:
        list3.append(i)
print(list3)

[1, 2, 3, 19]