Tuple and the Set in the Python::::

Adding two list using the python

In [ ]:
### Conctration number
num1 = [1,2,3,4,5]
num2 = [5,7,8,9,10]
result = num1 +num2
print(result)

[1, 2, 3, 4, 5, 5, 7, 8, 9, 10]

Adding two tuple mean making Combine Tuple::

In [ ]:
### Concrating two tuple::
a = (1,2,3,5)
b = (6,7,8,9)
result = a+b
print(result)

(1, 2, 3, 5, 6, 7, 8, 9)

Sliciing in the tuple::

In [ ]:
number3 = (1,2,"Garima","578",56.3,[1,23,5])
print(number3)
### Displaying the value in tuple::
print(number3[0])
### Now Slicing on the tuple::
print(number3[1:3])
print(number3[::3]) #### Start: stop : step:
print(number3[-4:-1]) ### Slicing from the negative index number::

(1, 2, 'Garima', '578', 56.3, [1, 23, 5])
1
(2, 'Garima')
(1, '578')
('Garima', '578', 56.3)

Some Example of the tuple with it's Method:::

In [ ]:
number1 = (1,2,3,5,5)
print(number1)
print(type(number1))
result = (1)
print(result)
print(type(result))

(1, 2, 3, 5, 5)
<class 'tuple'>
1
<class 'int'>

In [ ]:
### tuple packing
a = 1,2,5
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 5)

In [ ]:
### Data Structure Conversion::
### Adding inside the tuple items
number1 = tuple([10,20,30,50,50])
number2 = ([1,2],3)
number2[0].insert(1,66)
print(number2)
print(number1)
print(type(number1))

([1, 66, 2], 3)
(10, 20, 30, 50, 50)
<class 'tuple'>

Packing, Unpacking in the tuple

In [ ]:
### Packing and Unpacking on the tuple
a = 10,20,30
x,y,z = a
print(x,y,z)

10 20 30

In [ ]:
### Unpacking with * operator in the tuple::
### with first, mid and last occurence::
t = (1,2,3,5,5,9.0,0)
a , *mid,b = t
print(a)
print(*mid)
a,*mid = t
print(t)
print(b)
print(type(mid))

1
2 3 5 5 9.0
(1, 2, 3, 5, 5, 9.0, 0)
0
<class 'list'>

Swapping Value in the Tuple

In [ ]:
#### Swapping list
x = ("Subin Thapa",2,4,6,8,10)
y = ("Garima Sapkota",6,8,9)
### Before Swapping their Memory Address::
print(id(x))
print(id(y))
print(x,y)
### After Swapping Value in the tuple
y,x = x,y
print(id(x))
print(id(y))
print(x,y)

135335642346208
135335642028032
('Subin Thapa', 2, 4, 6, 8, 10) ('Garima Sapkota', 6, 8, 9)
135335642028032
135335642346208
('Garima Sapkota', 6, 8, 9) ('Subin Thapa', 2, 4, 6, 8, 10)

Method Used in the Tuple:::

In [ ]:
#### Index:
number1 = ("Garima Sapkota","Subin Thapa","Garima Sharma","Babina Singh","Angat Sitoula")
result = number1.index("Angat Sitoula")
print(result)

4

In [ ]:
### couting a items in the tuple::
number2 = ("Garima Sapkota","Subin Thapa","Angat Sitoula","Pratik Sharma","Sagar Regmi","Madhav Khatri","Subin Thapa")
result = number2[0].count("S") ### couting Inside Item Character ::
result1 = number2.count("Subin Thapa") ### Couting Item in the tuple
print(number2)
print(result1)
print(result)

('Garima Sapkota', 'Subin Thapa', 'Angat Sitoula', 'Pratik Sharma', 'Sagar Regmi', 'Madhav Khatri', 'Subin Thapa')
2
1

Searching and Checking Value in the Tuple::

In [ ]:
#### Checking the Membership in the Tuple
tuple1 = ((1,2,3,5),"Garima Sapkota")
tuple2 = (1,2,3,5)
result = 1 in tuple1
result2 = "Garima Sapkota" in tuple2
result3 = tuple2 in tuple1
print(result)
print(result2)
print(result3)

False
False
True

In [ ]:
#### Using the is or is not in the tuple::
tuple3 = (1,2,3,5)
tuple4 = (1,2,3,5)
result = tuple3 is tuple4 #### It look Memory Address
print(result)
result = tuple4 is not tuple3
print(result)
##### Checking the value is equal or not in the tuple::
result = tuple3 == tuple4
print(result)

False
True
True

Set in the Python

set are::
1) Uniquness mean no duplicate
2) Every Element must be hasable
3) sored multiple data type like int, float,  tuple(immutable)
4)  Not ordered::

In [ ]:
### Python in a program to do the work with the set::
number1 =[1,2,3,4,5]
### Converting the List into the set::
print(set(number1))
a = {}
b = set()
print(type(b))
print(type(a))
result = "Subin"
print(set(result))

{1, 2, 3, 4, 5}
<class 'set'>
<class 'dict'>
{'S', 'i', 'u', 'n', 'b'}

In [ ]:
# ### Testing the set properties::
# set1 = {1,10,5,78,9,50,1000,[1,2,5,78]} ### it will give any error
set1 = {2,"Subin thapa","hellow",(1,2,5,78)}
print(set1)

{(1, 2, 5, 78), 'hellow', 2, 'Subin thapa'}

In [ ]:
### Storing the hassing in the set::
#### Hassing stored the immutable data such as set,float, integer, and tuple
set1 = {12,15,(15,67),25}
print(set1)

{(15, 67), 12, 25, 15}

Different Method used in the set:::

In [ ]:
#### Using the Properties like add, update,remove,discard,pop,clear in the set
set1 = {1,2,5,10,50}
set2 = {"Subin Thapa","Garima Sapkota",'Babina Singh',"Rahul Adhikari",67}
#### Using the add Properties::
set1.add(40)
print(set1)
#### using the update Properties::
set1.update(set2)
print(set1)
#### Using the remove::
set1.remove("Garima Sapkota") ### through value
print(set1)
#### Using the Pop::
set1.pop()
print(set1)
### Using the discard Properity to remove the number
set1.discard("Subin Thapa")
print(set1)
#### Using the Clear Property to clear the set1 and making it's empty
set1.clear()
print(set1)

{1, 2, 50, 5, 40, 10}
{1, 2, 67, 5, 40, 10, 50, 'Subin Thapa', 'Babina Singh', 'Rahul Adhikari', 'Garima Sapkota'}
{1, 2, 67, 5, 40, 10, 50, 'Subin Thapa', 'Babina Singh', 'Rahul Adhikari'}
{2, 67, 5, 40, 10, 50, 'Subin Thapa', 'Babina Singh', 'Rahul Adhikari'}
{2, 67, 5, 40, 10, 50, 'Babina Singh', 'Rahul Adhikari'}
set()
<class 'set'>

Different  Mathematical Operation in the Tuple::

1) Union:: For Every Element Set1 and Set2 as well as denoted by |
2) Intersection :: Common Element in Set1 and Set2 denoted by &
3) Difference :: Difference in the both the set denoted by the (-) mean only either set1 or set2
4) Symmetrical _differnece :  Either in one set or another but not in both set
it is denoted by (^)
5) subset:: a set whose elements are all contained within both of the original sets and denoted by <=


6)Superset::: any set (Set A) that contains all the elements of Set B, and potentially mean like set A is containg all in element in the set B if two set are there denoted by >=
7) Disjoint::: Set has no common Element

Number Testing on the Set Method::

In [ ]:
### Some Example of Set Method::
### 1st Work Illustration::
set1 = {"Subin Thapa","Angat Sitoula","Mahesh Basnet","Sagar Regmi"}
set2 = {"Angat Sitoula","Naresh Basenet","John Von Neumann","Pratik Manandhar","Rahul","Subin Thapa"}
### Doing Intersection,Union,Difference, and Symmetrical Differnce
result1 = set1.intersection(set2) ### Common in both set
print(result1)
result2 = set1.union(set2) ### Display the Overall Result
print(result2)
result3 = set1.difference(set2) ### Difference element in set1 from the set2
print(result3)
result4 = set1.symmetric_difference(set2) ### Two set common Element::
print(result4)
#### Other Properties Used such as intersection_update,union_update,difference_update,symmetric_differnce_update
set1.symmetric_difference_update(set2) ### it modify the set1 with the symmetric difference output::
print(set1)
#### if i want the intersection Update ouput::
set1.intersection_update(set2)
print(set1)

{'Subin Thapa', 'Angat Sitoula'}
{'Angat Sitoula', 'Rahul', 'Naresh Basenet', 'Mahesh Basnet', 'John Von Neumann', 'Subin Thapa', 'Pratik Manandhar', 'Sagar Regmi'}
{'Sagar Regmi', 'Mahesh Basnet'}
{'Pratik Manandhar', 'Rahul', 'Mahesh Basnet', 'Naresh Basenet', 'John Von Neumann', 'Sagar Regmi'}
{'Rahul', 'Naresh Basenet', 'Mahesh Basnet', 'John Von Neumann', 'Pratik Manandhar', 'Sagar Regmi'}
{'Naresh Basenet', 'Rahul', 'Pratik Manandhar', 'John Von Neumann'}

In [ ]:
### 2nd Work Illustration::
### Checking the Element:::
### superset,subset,and disjoint
set1 = {1,5,7,8}
set2 = {1,5}
result = set1.issubset(set2) ### Output Must be false::
print(result)
reselt = set2.isdisjoint(set1) ### Output must be false because every set must have unique element::
print(reselt)
result3 = set1.issuperset(set2)
print(result3)

False
False
True